# docker-compose.yml
version: '3.8'
services:
 db:
  image: postgres:15
  restart: always
  # Docker lee estas variables, y TypeORM también las leerá del .env
  environment:
   POSTGRES_USER: ${POSTGRES_USER}
   POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
   POSTGRES_DB: ${POSTGRES_DB}
  # Mapeo al nuevo puerto 5433:5432
  ports:
   - "${DB_PORT}:5432" 
  volumes:
   - postgres_data:/var/lib/postgresql/data

volumes:
 postgres_data: